<div class="contenedor">
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <h2>Forgot your password?</h2>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">email</span>
      <input type="text" class="form-control" aria-describedby="basic-addon1" (ngModel)="email" name="email" required>
    </div>
    <button class="btn" type="submit" [disabled]="!formData.valid" >Send mail</button>
  </form>
  <span><a routerLink="/login">Back</a></span>
</div>
