/* You can add global styles to this file, and also import other style files */
/*-----------------------------------
	General Styles
-----------------------------------*/

/*body{
	font-size : 14px;
	background-color: #fafafa;
}

ul{
	list-style-type: none;
}

a:hover {
	text-decoration:none;
}*/


/*-----------------------------------
	Navbar
-----------------------------------*/

/*.minicart{
		width: 45px;
		height: 45px;
    text-align: center;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 7px;
    margin-top: 3px;
    border-radius: 50%;
		margin-right: 60px;
}

.minicart:hover{
    background-color: white;
    cursor: pointer;

}

.minicart:hover  path {
	fill: #4f1949;
}



.navbar{
	background-color: #4f1949;
	border-radius: 0;
	margin: 0;
}

.navbar-brand{
	color: #fff;
	font-family: Open Sans, sans-serif;
	padding: 9px 15px;
	padding-left: 32px;

}

.navbar-brand:hover{
	color: #fff;
}

button{

}

.btn {
	margin-top: 7px;
	margin-right: 5px;
	float: right;
	border: solid .5px;
	border-radius: 0;
	color: white;
	text-decoration: none;
	border-color: white;
	background: #4f1949;
}

.btn:hover{
	background: white;
	color: #4f1949;
}

a {
	text-decoration: none;

}

.open>.dropdown-menu {
    display: block;
    margin-top: 40px;
}

.logo {
	height: 50px;
	padding-bottom: 15px;
}*/

/*-----------------------------------
	Breadcrumb
-----------------------------------*/

/*.breadcrumb > .active a{
	color: #468595;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
	margin-bottom: 25px;
	background-color: #ffffff;
}

.breadcrumbBox{
	background-color: #ffffff;
	height: 65px;
	margin-bottom: 10px;
	padding-top: 32px;
	margin-top: 40px;
}*/

/*-----------------------------------
	Main
-----------------------------------*/

/*.container.text-center{
	padding: 0 32px;
}

.container.product {
	margin-top:30px;
}*/

/*-----------------------------------
	Logo and description
----------------------------------- */


/*.col-md-5.col-sm-12{
	padding: 0;
}

.col-md-9.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
}

.col-md-9.col-sm-12 p{
	color: #898e92;
	line-height: 1.5;
	max-width: 400px;
	text-align: justify;
}

.bigcart{
	background:url(../assets/img/sprite.png);
	background-position: 0px 11px;
	background-repeat:no-repeat;
	width: 155px;
	height: 120px;
	margin:0 0 40px 60px;
}*/


/*-----------------------------------
	Cart items list
-----------------------------------*/

/*.col-md-7.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
}

.row{
	box-shadow: 0 1px 0 #e1e5e8;
	padding-bottom :0;
	padding-left: 15px;
	background-color: #ffffff;
	margin-bottom: 11px;
}

.row span{
	padding: 20px 0 6px 0;
}*/

/* Column Captions */

/*.columnCaptions{
	color: #7e93a7;
	font-size:12px;
	text-transform: uppercase;
	padding: 0;
	box-shadow: 0 0 0;
	background-color: #f2f6f9;
}

.columnCaptions span:first-child{
	padding-left:8px;
}

.columnCaptions span{
	padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
	float: right;
	padding-right: 72px;
}*/


/* Items */

/*.itemName{
	color: #727578;
	font-size :16px;
	font-weight: bold;
	float: left;
	padding-left:25px;
}


.quantity{
	color: #4ea6bc;
	font-size :18px;
	font-weight: bold;
	float : left;
	width: 42px;
	padding-left: 7px;
}


.popbtn{
	background-color: #e6edf3;
	margin-left: 25px;
	height: 63px;
	width: 40px;
	padding: 32px 0 0 14px !important;
	float: right;
	cursor: pointer;
}

.arrow{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #858e97;
}

.price{
	color: #f06953;
	font-size :18px;
	font-weight: bold;
	float: right;
}*/


/* Totals */

/*.totals{
	background-color: #f2f6f9;
}

.totals span{
	padding: 40px 15px 40px 0;
}

.totals .price{
	float: left;
}

.totals .itemName{
	margin-top: 1px;
}

.totals .order{
	float: right;
	padding: 0;
	margin-top: 40px;
	padding-left: 5px;
	cursor: pointer;
}

.order a{
	background-color: #f08573;
	color: #fbfffa;
	font-weight: bold;
	border-radius: 2px;
	padding: 20px 30px;
}*/


/* Popovers */

/*.popover{
	border-radius: 3px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
	border: 0;
	background-color: #ffffff;
}

.popover.bottom{
	margin-top: -9px;
}

.glyphicon{
	width: 24px;
	font-size: 24px;
	padding: 0;
}

.glyphicon-pencil{
	color: #858e97;
	margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
	color: #f06953;
	margin-right: 10px;
}*/

/*-----------------------------------
	Media Queries
----------------------------------- */

/* Tablet size */
/*
@media (max-width: 992px) {


	.breadcrumb{
		margin-bottom: 32px;
	}

	.bigcart{
		margin: 0 auto 40px auto;
	}

	.col-md-5.col-sm-12 h1{
		text-align: center;
	}

	.col-md-5.col-sm-12 p{
		margin: 0 auto 64px auto;
		text-align: justify;
	}

	.col-md-7.col-sm-12{
		padding-left: 10px ;
		padding-right: 50px;
		text-align: center;
	}

	.totals{
		box-shadow: 0 0 0;
	}

}*/


/* Mobile device size */
/*
@media (max-width: 768px) {

	.container.text-center{
		padding: 0 15px;
	}

	.navbar{
		padding: 0px 0;
	}

	.minicart{
		margin-right: 50px;
        padding-top: 5px;
		padding-right: 10px;
	}

	.navbar-brand{
		padding-left: 0;
	}

	.breadcrumbBox{
		height:80px;
		padding-top:21px;
	}

	.col-md-5.col-sm-12 p{
		max-width: 300px;
	}

	.col-md-7.col-sm-12{
		padding-left: 0;
		padding-right: 15px;
		margin-bottom: 32px;
	}

	.col-md-7.col-sm-12 ul{
		padding-left: 15px ;
	}

	.columnCaptions span{
		padding: 0 21px 0 0;
	}

	.columnCaptions span:last-child{
		float: right;
		padding-right: 42px;
	}

	.row{
		padding-bottom:10px;
	}

	.quantity{
		width: 23px;
		padding-right: 40px !important;
	}

	.popbtn{
		background-color: white;
		position: absolute;
		height:40px;
		right: 0;
	}

	.price{
		position: absolute;
		right: 42px;
	}

	.totals{
		padding: 0;
	}

	.totals .price{
		position: static;
	}


	.popover.bottom>.arrow{
		left: auto;
		margin-left: 0;
		right: 5px;
	}

	.popover.bottom{
		margin-top: 7px;
		margin-left: -40px;
	}

}

.badge {
    position: absolute;
    top: 10px;
    padding: 3px 6px;
	font-size: 10px;
    margin-left: 5px;
	z-index: 1;
	text-shadow: none;
	vertical-align: text-top;
	white-space: nowrap;
	text-align: center;
	background-color: #d23837;
	border-radius: 30px;
}*/






/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
    margin: 0;
}


/* Disable ugly boxes around images in IE10 */

a img {
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.android-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.android-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}

.mdl-textfield--expandable {
    width: auto;
}

.android-fab {
    position: absolute;
    right: 20%;
    bottom: -26px;
    z-index: 3;
    background: #64ffda !important;
    color: black !important;
}

.android-mobile-title {
    display: none !important;
}

.android-logo-image {
    height: 40%;
    margin-left: 30px;
    width: 40%;
}

.android-header {
    overflow: visible;
    background-color: #4f1949;
}

.android-header .material-icons {
    color: #fff !important;
}

.android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #fff;
}

.android-header .mdl-navigation__link {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}

.android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 240px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation-container:hover {
    cursor: pointer;
}

.android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
}

.android-search-box.is-focused+.android-navigation-container {
    opacity: 0;
    width: 100px;
}

.android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.android-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

.android-search-box {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.android-more-button {
    order: 3;
}

.android-drawer {
    border-right: none;
}

.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.android-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
}

.android-drawer .android-logo-image {
    position: absolute;
    bottom: 16px;
}

.android-be-together-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;

    background-size: cover;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.android-slogan {
    font-size: 60px;
    padding-top: 160px;
}

.android-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
}

.android-create-character {
    font-size: 21px;
    padding-top: 400px;
}

.android-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.android-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
}

.android-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.android-screen {
    text-align: center;
}

.android-screen .android-link {
    margin-top: 16px;
    display: block;
    z-index: 2;
}

.android-image-link {
    text-decoration: none;
}

.android-wear {
    display: inline-block;
    width: 160px;
    margin-right: 32px;
}

.android-wear .android-screen-image {
    width: 40%;
    z-index: 1;
}

.android-phone {
    display: inline-block;
    width: 64px;
    margin-right: 48px;
}

.android-phone .android-screen-image {
    width: 100%;
    z-index: 1;
}

.android-tablet {
    display: inline-block;
    width: 110px;
    margin-right: 64px;
}

.android-tablet .android-screen-image {
    width: 100%;
    z-index: 1;
}

.android-tablet .android-link {
    display: block;
    z-index: 2;
}

.android-tv {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
}

.android-tv .android-screen-image {
    width: 100%;
    z-index: 1;
}

.android-auto {
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.android-auto .android-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
}

.android-wear-section {
    position: relative;
    /*background: url('images/wear.png') center top no-repeat;*/
    background-size: cover;
    height: 800px;
}

.android-wear-band {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #37474f;
}

.android-wear-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
}

.android-wear-band-text p {
    padding-top: 8px;
}

.android-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.android-link:hover {
    color: #7cb342 !important;
}

.android-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.android-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}

.android-alt-link:hover {
    color: #00bfa5 !important;
}

.android-alt-link .material-icons {
    position: relative;
    top: 6px;
}

.android-customized-section {
    text-align: center;
}

.android-customized-section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
}

.android-customized-section-text p {
    padding-top: 16px;
}

.android-customized-section-image {
    /*background: url('images/devices.jpg') center top no-repeat;*/
    background-size: cover;
    height: 400px;
}

.android-more-section {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.android-more-section .android-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.android-card-container {}

.android-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
}

.android-card-container .mdl-card__media img {
    width: 100%;
}

.android-card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.android-card-container .mdl-card__title-text {
    color: black;
    height: auto;
}

.android-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 40px;
}

.android-card-container .mdl-card__actions {
    position: static;
}

.android-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}

.android-footer {
    background-color: #fafafa;
    position: relative;
}

.android-footer a:hover {
    color: #8bc34a;
}

.android-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
}

.android-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
}

.android-footer .mdl-mega-footer--bottom-section {
    position: relative;
}

.android-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

.android-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
}

.android-link-menu:hover {
    cursor: pointer;
}


/**** Mobile layout ****/

@media (max-width: 700px) {
    #login-mdl-button {
        display: none;
    }

    #login-mdl-icon {
        display: inline-block !important;
    }
    .android-navigation-container {
        display: none;
    }
    .android-title {
        display: none !important;
    }
    .android-mobile-title {
        display: block !important;
        position: absolute;
        width: 200px;
        height: 110px;
        left: 0;
        top: 6px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
    .android.android-search-box.is-focused~.android-mobile-title,
    .android-search-box.is-focused+.android-navigation-container+.android-mobile-title {
        opacity: 0;
    }
    .android-more-button {
        display: none;
    }
    .android-search-box.is-focused {
        width: calc(100% - 48px);
    }
    .android-search-box .mdl-textfield__expandable-holder {
        width: 100%;
    }
    .android-be-together-section {
        height: 350px;
    }
    .android-slogan {
        font-size: 26px;
        margin: 0 16px;
        padding-top: 24px;
    }
    .android-sub-slogan {
        font-size: 16px;
        margin: 0 16px;
        padding-top: 8px;
    }
    .android-create-character {
        padding-top: 200px;
        font-size: 16px;
    }
    .android-create-character img {
        height: 12px;
    }
    .android-fab {
        display: none;
    }
    .android-wear-band-text {
        margin-left: 0;
        padding: 16px;
    }
    .android-footer .mdl-mega-footer--bottom-section {
        display: none;
    }
}

.mdl-badge[data-badge]:after {
    background: rgba(255, 0, 0,1) !important;
    width: 18px;
    height: 18px;
    font-size: 11px;
}

.mdl-button .mdl-badge[data-badge]:after {
    right: -8px;
}


@media (max-width: 500px) {
    .mdl-grid {
    padding-left: 45px;
}
}

.avatar {
    left: 0;
    border-radius:100%;
    color: #fff;
    background-color: #f39c12;
    margin-top: -11px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    position: relative;
    float: right;
}


#login-mdl-button {
    margin-left: 20px !important;
}

#login-mdl-icon {
        display: none;
    }

    .chip-user-avatar {
     border-bottom-left-radius: 25px;
     border-top-left-radius: 25px;
     margin-right: -6px;
     color: rgba(255, 255, 255, 0.8);
     font-weight: bold;
     font-size: 13px;
     background: rgba(200, 200, 200, 0.6);
     padding-right: 12px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     margin-top: 2px;
 }

/*.gb_ha {
    background: red;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    color: #000;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    outline: none;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 59px;
   border-radius: 2px;
    border-radius: 2px;
    user-select: text;
    width: 300px;
    height: 187px;
}*/


 /*style="background: orange; width: 50px; height: 50px; color: #fff; font-weight: 700; font-size: 16px; text-align: center; border-radius: 50px;"*/


.host {
    background: #fff;
    position: fixed;
    left: auto;
    max-height: 700px;
    height: 600px;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 17%;
    min-width: 250px;
    z-index: 9999;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);

}

.foot {
    background-color: #4f1949; 
    width: 100%; 
    height: 60px; 
    position: absolute; 
    bottom: 0px; 
    z-index: 1;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2), 0 1px 18px 0 rgba(0,0,0,.2), 0 3px 5px -1px rgba(0,0,0,.2);
}
