.product-card {
    border: 1px solid #eee;
    width: 190px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    text-align: center;
    background-color: #fff;
    margin-top: 10px;
}

.product-card:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.product-image {
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 10px;
}

.product-info {
    background: #f7f7f7;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.name {
    font-family: 'Roboto Condensed', Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-weight: 100;
    color: #1C86EE;
    height: 42px;
    padding: 10px;
}

/*.original-price {
    font-size: 12px;
    color: #aaa;
    text-decoration: line-through;
    display: inline-block;
}*/

.original-price {
    font-family: 'Passion One', cursive;

    color: #4f1949;
    font-size: 16px;
    /*line-height: 20px;*/
    /*font-weight: 50;*/
    padding-top: 4px;
    padding: 10px;
}



/********************************ICONOS*************************************/

.addtocart{
    margin-left: 50px;
    width: 30px;
    height: 30px;
    fill:orange;

}

.addtocart:hover{
    cursor: pointer;
    fill:orangered;
}

.hide_product {
  display: none !important;
}


@media (max-width: 479px) {
  .mdl-grid {
    padding-left: 50px !important;
}
}








.card-u {
    vertical-align: top;
    width: 200px;
    text-align: left;
    background-color: #fff;
    position: relative;
    margin-top: 30px;
    margin-right: 5px;
    display: inline-block;
}
.card-u:hover{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.card-u-cart {
    margin: 0;
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    flex: 1 0 auto;
    min-width: 1px;
    max-width: 220px;
}

.card_u_image {
    height: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: auto;
}

.card_u_details {
    box-shadow: 0 2px 2px #cbcbcb;
    height: 140px;
    cursor: default;
    padding: 12px 15px;
    display: block;
    text-align: left;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.datails_u_name {
    height: 39px;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.details-u-product {
    height: 39px;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    font-size: 14px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

    line-height: 1.43;
    color: #333;
    -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.details-u-bottom {
    font-size: 15px;
    box-sizing: border-box;
    text-align: left;
}

.details_u_price {
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #333;
}

.card_u_price {
    font-weight: 700;
    font-size: 15px;
    color: #333;
}



.add-to-cart {
    color: #4f1949;
    border-radius: 2px;
    padding: 3px 12px 3px 12px;
    border: 1px solid #4f1949;
    font-size: 14px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.43;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.add-to-cart:hover {
    cursor: pointer;
}

.demo-card-square.mdl-card {
    width: 230px;
    height: 250px;
      padding-right: 20px;
}

.demo-card-square>.mdl-card__title {
    padding: 10px;
}

.prodname {
    padding: 4px 12px 2px 24px;
    color: #fff;
    background-color: rgba(100, 149, 237, 0.8);
    border-radius: 100px;
}

.prodinfo {
    margin-left: -13px;
    margin-bottom: 3px;
    padding: 12px 0px 0px 0px;
    left: -10px;
}

.prodprice {
    padding: 4px 12px 4px 24px;
    color: #fff;
    background-color: rgba(11, 130, 11, 0.8);
    border-radius: 100px;
    margin-top: 10px;
    font-size: 12px;
}